html {
    min-height: 100%;
    overflow-y: scroll;
    background: #000;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  #wrap {
    overflow: hidden;
    padding: 3%;
  }
  #pbOverlay.show ~ #wrap {
    -webkit-filter: blur(2px) grayscale(0.4);
  }
  
  #gallery {
    padding: 20px;
  }
  #gallery li {
    list-style: none;
    perspective: 100px;
    -webkit-perspective: 100px;
    margin: 1px;
    float: right;
    position: relative;
    transition: 0.1s;
    -webkit-transition: 0.1s;
  }
  #gallery li.video::before {
    content: "\25BA";
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 0.9;
    position: absolute;
    bottom: 3px;
    left: 4px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 0 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s 0.2s;
  }
  #gallery li.loaded.video::before {
    opacity: 1;
  }
  #gallery a {
    display: block;
    width: 75px;
    height: 68px;
    vertical-align: bottom;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -webkit-transform: rotateX(90deg) translate(-50px, -50%);
    transform: rotateX(90deg) translate(-50px, -50%);
  }
  #gallery a:active,
  #gallery a:focus {
    outline: none;
  }
  #gallery a img {
    min-height: 100%;
    width: 100%;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
  }
  #gallery .loaded a {
    -webkit-transform: rotateX(0deg) translate(0, 0);
    transform: rotateX(0deg) translate(0, 0);
  }
  #gallery li.loaded:hover {
    z-index: 2;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  #gallery li.loaded a:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 20px 5px #000;
    transition: 0.1s;
    -webkit-transition: 0.1s;
  }
  #gallery li.loaded:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  #gallery li.loaded.video:hover::before {
    opacity: 0;
  }
  











  nav {
    margin: 10px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #4893dd;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home,
  a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about,
  a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog,
  a:nth-child(3):hover ~ .animation {
    width: 100px;
    left: 210px;
    background-color: #1e628f;
  }
  nav .start-portefolio,
  a:nth-child(4):hover ~ .animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
  }
  nav .start-contact,
  a:nth-child(5):hover ~ .animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
  }
  
  body {
    font-size: 12px;
    font-family: sans-serif;
  }
  h1 {
    text-align: center;
    margin: 5px 0 5px;
    text-align: center;
    font-size: 30px;
    color: #646869;
    font-family: "Cherry Swash", cursive;
  }
  
  p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: "Cherry Swash", cursive;
    font-size: 16px;
  }